@import '../components/colors.scss';
@import '../components/mixins.scss';

#blog-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  #blog-post__date {
    display: none;
    // align-self: flex-end;
  }

  #blog-post__content {
    text-align: left;

    width: 90%;

    .side-by-side {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      @media only screen and (max-width: 842px) {
        display: block;

        .toleft, .toright {
          width: 100% !important;
        }
      }
    }

    code[class*="language-"], pre[class*="language-"] {
      font-size: 0.85rem;
    }

    pre[class*="language-"] {
      border-radius: 20px;

      margin-bottom: 1em;

      @include scrollbars(8px, adjust-color($primary-color,$lightness: -10%), $black);

      @media only screen and (min-width: 481px) {
        /*
        margin-left: -100px;
        margin-right: -100px;
        */
      }
    }

    .wide-code {
      pre[class*="language-"] {
        @media only screen and (min-width: 1250px) {
          width: 1200px;
          margin-left: -225px;
        }
      }
    }
  }
}
