@import '../colors.scss';

#resume {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;

  line-height: 2rem;
  text-align: left;

  width: 40rem;
  @media only screen and (max-width: 480px) {
    max-width: 80%;
  }

  font-family: sans-serif;

  h1, h2 {
    align-self: center;
  }
}
