@import './colors.scss';

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 3rem;
  width: 100%;

  padding: 1rem 0;

  background-color: $black;

  #header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 960px;

    padding-left: 1rem;
    padding-right: 1rem;

    @media only screen and (max-width: 960px) {
      width: 842px;
    }

    @media only screen and (max-width: 842px) {
      width: 100%;
    }
  }

  a {
    text-decoration: none;
  }

  #header__title {
    color: $white;

    margin-bottom: 0;
  }

  #nav-menu {
    .nav-menu__item {
      color: $white;

      margin-left: 2rem;

      &:hover {
        /* text-decoration: underline; */
        border-bottom: 2px $primary-color solid;
      }

      @media only screen and (max-width: 842px) {
        display: none;
      }
    }
  }

  #nav-menu-button {
    color: $white;

    height: 1rem;
    width: 1rem;

    margin-left: 1rem;

    @media only screen and (min-width: 843px) {
      display: none;
    }
  }
}

