@import './colors.scss';

#site-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 960px;

  &.wide {
    @media only screen and (min-width: 1021px) {
      width: 1020px;
    }
  }

  margin: 0 auto;
  padding: 2rem 1.0875rem 5rem;

  text-align: center;

  @media only screen and (max-width: 960px) {
    width: 842px;
  }

  @media only screen and (max-width: 842px) {
    padding-left: .5rem;
    padding-right: .5rem;

    width: 100%;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  width: 100%;
  margin-top: auto;
  margin-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  font-size: .8em;
}

#color-palette {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  height: 50px;
  width: 150px;

  @media only screen and (max-width: 480px) {
    display: none;
  }

  div {
    width: 50px;

    // border-radius: 100%;
  }

  #color-palette__primary-color {
    background-color: $primary-color;
  }

  #color-palette__secondary-color {
    background-color: $secondary-color;
  }

  #color-palette__accent-color {
    background-color: $accent-color;
  }
}
