@import './colors.scss';

#nav-menu-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  width: 100%;

  padding: 1rem;

  background-color: $black;
  box-shadow: -5px 5px 8px adjust-color($black, $lightness: -10%);

  .nav-menu-dropdown__item {
    color: $white;

    margin: 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
