@import '../colors.scss';

@mixin columns($num-columns) {
  columns: $num-columns;
  -webkit-columns: $num-columns;
  -moz-columns: $num-columns;
}

#bio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  hr {
    height: 2px;
    width: 50%;

    border-width: 0;

    color: $primary-color;
    background-color: $primary-color;

    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  #bio__description {
    text-align: center;
  }

  #bio__skills {
    list-style-type: none;

    @include columns(3);

    text-align: left;

    margin: 0;
    padding-left: 150px;

    @media only screen and (max-width: 842px) {
      @include columns(2);
    }

    @media only screen and (max-width: 620px) {
      padding-left: 65px;
    }

    .bio__skill {
      list-style-type: none;

      width: 200px;

      margin-bottom: 1rem;

      @media only screen and (max-width: 620px) {
        width: 100px;
      }
    }
  }

  #bio__blog-description {
    text-align: center;
  }
}
