@import '../colors.scss';

.profile-image {
  height: 300px;
  width: 300px;

  padding: 1rem;
  margin: 1rem;
  margin-bottom: 1.45rem;

  border-radius: 100%;
  box-shadow: -10px 5px 8px adjust-color($black, $lightness: -10%);

  @media only screen and (max-width: 480px) {
    height: 150px;
    width: 150px;
  }
}
